* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
        font-family: 'Varela Round', sans-serif;
        height: 100%;
        width: 100%;
}
img {
    width: 100%;
}

 .clear {
    clear: both;
}
 .blog-title h1{ 
    height: 50px;
    margin-top: 20px;   
    text-align: center
} 

.bg {
    background-image: url(img/london.jpg);
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 3px 3px 10px black;
    margin-bottom: 50px;
} 
.one {
    margin-bottom: 50px;
}

.two {
    margin-bottom: 50px;
}

.img-wrapper {
    width: 100%;
    /* display: flex; */
    /* margin-bottom: 20px; */
    /* flex-wrap: wrap; */
}

.imgcontainer {
    /* background-image: url("img/london.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    height: 200px;
    border: 1px solid red;

}

/* .img-text {
    flex: 50%;
} */
/* .goto a {
    text-decoration: none;
    color: fuchsia;
    font-weight: bold; 
} 
/*  */


@media (max-width: 790px) {

.row {
    display: block;
}

.col {
     margin-bottom: 30px;

}

}